.fancy-image {
  width: 30%;
  transition: all 0.1s linear;
  animation: image 10s linear infinite;
  user-select: none;
}

@keyframes image {
from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}

.landing-view {
  display: flex;
  width: 100%;

}

.landing-view > div:nth-child(1) {
  padding: 2% 10% 5% 5%;
  width: 60%;
}

.landing-view > div:nth-child(2) {
  width: 40%;
  overflow: hidden;
  padding-top: 5%;
}
